.cart-item {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid #ccc;
  padding: 10px;

  .remove-btn {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    align-self: start;

    img {
      height: 24px;
    }
  }

  .item-details {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding: 8px;

    p {
      margin: 0;
    }

    input[type="number"] {
      width: 60px;
      padding: 8px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      margin: 8px 0;
    }
  }

  .error-message {
    color: red;
    font-size: 12px;
  }
}
