.shopping-cart {
  padding: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;

  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .total-price {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }
}
